.phonebook {
  margin: auto;
  max-width: 500px;
  text-align: start;
}

form {
  position: relative;
  width: 300px;
  padding: 15px;
}

.container {
  border: 1px solid #2a2a2a;
}

input {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 100%;
}
